# Dependencies
node_modules/

# Build output
.svelte-kit

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
*.spec.ts

# Vite
vite.config.ts

# Environment
.env
.env.local
.env.*.local